.ContactForm {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 16px 0;
  background-color: rgb(250, 245, 235);
}

.ContactForm input {
  display: block;
  margin: 16px auto;
}

@media (min-width: 600px) {
  .ContactForm {
    width: 560px;
  }
}
